<section class="cta">
    <h3>Be the first to know.</h3>
    <form action="#">
        <input id="email" type="text" placeholder="Enter your email address to receive updates">
        <input id="submit" type="button" value="Keep in Touch">
    </form>
</section>